@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mf_block_bg {
    @apply tw-bg-white tw-shadow-[0_0_4px_0_#00000025] tw-rounded-[26px];
  }

  .mf_custom_popup {
    @apply tw-grid tw-rounded-[26px] tw-border-8 tw-border-[#F1F3FD] tw-py-1 tw-pl-1 tw-pr-3 tw-max-h-[300px] tw-overflow-y-auto tw-absolute tw-top-[calc(100%+19px)] tw-left-0 tw-w-60 tw-max-w-[250%] tw-normal-case tw-z-[99];
  }
}

/* // CSS STYLES ==================================================================================== */
html,
body {
  height: 100vh;
}

body {
  @apply tw-text-ebony tw-bg-white-lilac;

  font-family: 'Mulish', sans-serif;

  /* background: radial-gradient(
      100% 316.05% at 0% 100%,
      #e7f0ff 0%,
      #fafcff 100%
    ); */
}

.bg-edo {
  background-image: url(../public/images/edo-bg.gif);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.16;
}

h3 {
  font-size: 1rem;
  line-height: 1.5;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
}

// button[class*='MuiButton-containedPrimary'] {
//   border: 1px solid #eaecee;
//   background-color: #fff !important;
//   /*#0081cb*/
//   color: #607d8b;
// }

button[class*='MuiButton-containedSuccess'] {
  background-color: #4caf50 !important;
}

button[class*='MuiButton-containedError'] {
  background-color: #f44336 !important;
}

button[class*='MuiButton-containedSecondary'] {
  background-color: #009688 !important;
  /*#bdbdbd*/
}

#__next {
  height: 1px;
  min-height: 100%;
}

.closed__row {
  position: relative;
}

.closed__row::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background: #e0e0e0;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4;
  }

  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #607d8b;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.MuiPaper-root {
  border-radius: 20px !important;
}

.MuiPopover-paper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.done,
.done svg {
  color: #3fa34b !important;
  border-bottom-color: #3fa34b;
}

.inProgress:not(:disabled) {
  color: #fa8e4b !important;
}

.alert-item {
  position: relative;
  animation: alertAnim 0.25s ease 1;
}

@keyframes alertAnim {
  0% {
    left: 70px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

:root,
.root,
#root,
#docs-root {
  --border-gradient: linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;
}

.pbs-container {
  cursor: auto;
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  border-radius: 26px;
  border: 8px solid #fefbff;
  background: linear-gradient(0deg,
      rgba(96, 125, 139, 0.16) 0%,
      rgba(96, 125, 139, 0.16) 100%),
    #fefbff;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.pbs-container::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

.pbs-container::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  margin-top: 10px;
  margin-left: 10px;
}

.pbs-container::-webkit-scrollbar-thumb {
  background-color: #607d8b;
  border-radius: 15px;
}

.pbs-boxlist {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.pbs-boxlist .pbs-boxlist {
  margin-left: 30px;
  border-left: 2px dashed rgb(209, 209, 209);
  margin-top: 8px;
}

.pbs-boxlist .pbs-boxlist .pbs-boxlist .pbs-boxlist-item {
  transition: all 0.3s ease;
}

.pbs-boxlist .pbs-boxlist-item:hover {
  background: #00968824 !important;
  cursor: pointer;
}

.pbs-boxlist-item.active {
  background-color: #00968824;
}

.pbs-boxlist-item {
  font-size: 16px;
  line-height: 21px;
}

.change-read-flag {
  font-size: 15px;
}

.read-flag {
  font-weight: 700;
}

.flag {
  position: relative;
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
  height: 98%;
  width: 8px;
  background-color: #005b9e;
  cursor: default;
}

.disabled-flag {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
  background-color: #b1d6f1;
  cursor: default;
}

.flag:hover,
.disabled-flag:hover {
  width: 20px;
}

.unread-flag,
.change-read-flag:hover {
  background: #d8edff;
  font-weight: 700;
}

.change-read-flag:hover .disabled-flag {
  display: block;
}

.disabled,
.disabled:hover {
  border-color: rgba(0, 0, 0, 0.25) !important;
  opacity: 0.6;
}

.pbs-open {
  visibility: visible;
  opacity: 1;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pbs-active {
  box-sizing: border-box;
  border-color: #007aff !important;
  border-width: 2px !important;
}

.quill {
  display: flex;
  flex-direction: column;
  height: '100%';
}

.quill .ql-container {
  flex: 1;
}

.bg-red {
  background-color: #f44336;
}

.toolbar-padding .ql-toolbar.ql-snow {
  padding-top: 10px;
  padding-bottom: 10px;
}

li.MuiButtonBase-root {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
}

ul.MuiList-root {
  padding: 30px 0 64px 0;
}

.form-item {
  position: absolute;
  top: 0;
  width: 25%;
}

.form-item--1 {
  left: 0%;
}

.form-item--2 {
  left: 26%;
}

.form-item--3 {
  left: 52%;
}

.form-item--4 {
  left: 78%;
}

.form-transition {
  transition: transform 0.5s ease, opacity 0.4s 0.4s ease-in;
}

.form-to-left {
  transform: translateX(-600px);
  opacity: 0;
}

.form-to-right {
  transform: translate(600px);
  opacity: 0;
}

.form-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.css-1kn2b9z-MuiTabs-indicator {
  display: none;
}

.pen-container {
  position: absolute;
  height: 0;
  top: 0;
  right: 0;
  pointer-events: none;
  height: 100vh;
}

.pen-icon {
  position: fixed;
  top: 30%;
  transition: all 0.8s ease;
  z-index: 9999;
  pointer-events: none;
}

.pen-icon.active {
  transform: scale(0.2) rotate(45deg);
}

.pen-icon.sign>svg {
  animation: sign 0.4s ease forwards;
}

@keyframes sign {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg) translateX(8px);
  }

  45% {
    transform: rotate(-3deg) translateX(12px);
  }

  75% {
    transform: rotate(3deg) translateX(16px);
  }

  100% {
    transform: rotate(-5deg) translateX(20px);
  }
}

/* @media screen and (min-width: 900px) {
  .pen-icon {
    left: calc(100% - 130px);
  }
}



@media screen and (min-width: 1024px) {
  .pen-icon {
    left: calc(100% - 40px);
  }
}

@media screen and (min-width: 1150px) {
  .pen-icon {
    left: calc(100% - 80px);
  }
}


@media screen and (min-width: 1280px) {
  .pen-icon {
    left: calc(100% - 40px);
  }
}

@media screen and (min-width: 1350px) {
  .pen-icon {
    left: calc(100% - 50px);
  }
} */

.lettersV4-gradient {
  background-image: linear-gradient(90deg, #E8BCE8, #C9F1F5);
}

.lettersV4-main-gradient {
  background-image: linear-gradient(90deg, #F3E7E9, #E3EEFF);
}

.new-bg-gradient {
  background-image: linear-gradient(to right top, #31283b, #332c48, #323057, #2a3666, #163c76) !important;
}

.lettersV4-folder-btn {
  background-image: linear-gradient(90deg, #80C7CF, #ADC2DA, #E8BCE8);
}

.lettersV4-add-btn {
  background-image: linear-gradient(90deg, #17A7A8, #8B60BF);
}

.text-blue {
  color: #3b82f6;
}