
@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }

  .snowflake {
    pointer-events: none;
    min-height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      overflow: hidden;
  }
  
.snow {
    $total: 60;
    position: absolute;
    width: 10px;
    height: 10px;
    color: #c1e7e5;
    
    border-radius: 50%;
    z-index: 9999;

  
    @for $i from 1 through $total {
      $random_x: random(1000000) * 0.0001vw;
      $random_offset: random_range(-100000, 100000) * 0.0001vw;
      $random_x_end: $random_x + $random_offset;
      $random_x_end-yoyo: $random_x + calc($random_offset / 2);
      $random_yoyo_time: calc(random_range(30000, 80000) / 100000);
      $random_yoyo_y: $random_yoyo_time * 100vh;
      $random_scale: random_range(8000, 20000) * 0.0001;
      $fall_duration: random_range(18, 40) * 1s;
      $fall_delay: random(30) * -1s;

  
      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random_x, -10px) scale($random_scale);
        animation: fall-#{$i} $fall_duration $fall_delay linear infinite;
      }
  
      @keyframes fall-#{$i} {
        #{percentage($random_yoyo_time)} {
          transform: translate($random_x_end, $random_yoyo_y) scale($random_scale);
        }
  
        to {
          transform: translate($random_x_end_yoyo, 160vh) scale($random_scale);
        }
      }
    }
  }