@keyframes scalePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulseBadge {
  animation: scalePulse 1s ease-in-out infinite;
}
