.pbs-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 20px;
	box-sizing: border-box;
	color: rgba(0, 0, 0, .87);
	font-size: 16px;
	position: relative;
	// max-width: 450px;
	padding: 7px 12px;
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: 4px;
	cursor: pointer;

	&:active,
	&:hover {
		border-color: rgba(0, 0, 0, .85);
	}

	&:focus {
		border-color: #607D8B;
	}
}

.pbs-container {
	position: absolute;
	left: 0;
	top: calc(100% + 5px);

	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #eee;
	background-color: #fff;
	max-height: 400px;
	overflow-y: auto;

	visibility: hidden;
	opacity: 0;
	transition: opacity .3s ease;
}
